---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Contact from '@/components/Contact.astro';
import CTA from '@/components/CTA.astro';
import Enhancements from '@/components/Enhancements.astro';
import Footer from '@/components/Footer.astro';
import Gallery from '@/components/Gallery.astro';
import GalleryCarousel from '@/components/GalleryCarousel.astro';
import Hero from '@/components/Hero.astro';
import Navbar from '@/components/Navbar.astro';
import Services from '@/components/Services.astro';
import Testimonials from '@/components/Testimonials.astro';
import ThemeSwitcher from '@/components/ThemeSwitcher.astro';
import { site } from '@/content/site';
---
<BaseLayout site={site}>
  <Navbar site={site} />
  <main>
    {site.sections.map((section) => (
      <>
        {section === 'hero' && <Hero site={site} />}
        {section === 'services' && <Services services={site.services} />}
        {section === 'testimonials' && <Testimonials testimonials={site.testimonials} />}
        {section === 'gallery' && <Gallery gallery={site.gallery} />}
        {section === 'galleryCarousel' && <GalleryCarousel gallery={site.galleryCarousel} />}
        {section === 'cta' && <CTA site={site} />}
        {section === 'contact' && <Contact site={site} />}
      </>
    ))}
  </main>
  <Footer site={site} />
  {site.features.includes('themeSwitcher') && <ThemeSwitcher site={site} />}
  {site.features.length > 0 && <Enhancements />}
</BaseLayout>
